<h1 class="uppercase font-thin">Menu</h1>
<section class="font-thin">
  <a class="" routerLink="" routerLinkActive="active">
    <section class="py-2 flex items-center gap-4 transition hover:bg-orange-300/25 hover:text-orange-500 hover:font-bold">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="notes"></mat-icon>
      <h1>Questions</h1>
    </section>
  </a>

  <a class="">
    <section class="py-2 flex items-center gap-4 transition hover:bg-orange-300/25 hover:text-orange-500 hover:font-bold">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="category"></mat-icon>
      <h1>Categories</h1>
    </section>
  </a>

<!--  <a href="" routerLink="/ranking" routerLinkActive="active">-->
<!--    <section class="py-2 flex items-center gap-4 transition hover:bg-orange-300/25 hover:text-orange-500 hover:font-bold">-->
<!--      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="bar_chart"></mat-icon>-->
<!--      <h1>Ranking</h1>-->
<!--    </section>-->
<!--  </a>-->
</section>

