<main class="flex mb-10 mt-4" >
  <section class="flex gap-2 text-sm text-gray-700">
    <a (click)="switchFuncion('all')" class="rounded-2xl bg-gray-300 transition hover:bg-blue-500 hover:text-white focus:bg-red-500" href="#">
      <section class="flex items-center px-3 py-1 gap-1">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="explore"></mat-icon>
        <h1>All</h1>
      </section>
    </a>
    <a (click)="switchFuncion('movies')" class="rounded-2xl bg-gray-300 transition hover:bg-blue-500 hover:text-white focus:bg-red-500" href="#">
      <section class="flex items-center px-3 py-1 gap-1 ">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="movie"></mat-icon>
        <h1>Movies</h1>
      </section>
    </a>
    <a (click)="switchFuncion('food')" class="rounded-2xl bg-gray-300 transition hover:bg-blue-500 hover:text-white focus:bg-red-500" href="#">
      <section class="flex items-center px-3 py-1 gap-1">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="fastfood"></mat-icon>
        <h1>Food</h1>
      </section>
    </a>
    <a (click)="switchFuncion('games')" class="rounded-2xl bg-gray-300 transition hover:bg-blue-500 hover:text-white focus:bg-red-500" href="#">
      <section class="flex items-center px-3 py-1 gap-1">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="games"></mat-icon>
        <h1>Games</h1>
      </section>
    </a>
    <a (click)="switchFuncion('programming')" class="rounded-2xl bg-gray-300 transition hover:bg-blue-500 hover:text-white focus:bg-red-500" href="#">
      <section class="flex items-center px-3 py-1 gap-1">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="developer_board"></mat-icon>
        <h1>Programming</h1>
      </section>
    </a>
    <a (click)="switchFuncion('cars')" class="rounded-2xl bg-gray-300 transition hover:bg-blue-500 hover:text-white focus:bg-red-500" href="#">
      <section class="flex items-center px-3 py-1 gap-1">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="directions_car"></mat-icon>
        <h1>Cars</h1>
      </section>
    </a>
    <a (click)="switchFuncion('books')" class="rounded-2xl bg-gray-300 transition hover:bg-blue-500 hover:text-white focus:bg-red-500" href="#">
      <section class="flex items-center px-3 py-1 gap-1">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="book"></mat-icon>
        <h1>Books</h1>
      </section>
    </a>

  </section>
</main>
